@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    padding-top: 5vh;
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
    align-items: center;
    background-image: url(/img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 65vh;
}

    
#fRow{
    display: flex;
    flex-direction: column;
    width: 60%;
    row-gap: 6vh;
}

#sRow{
    display: flex;
    width: 60%;
    row-gap: 6vh;
    justify-content: space-around;
}

#fRow > div{
    display: flex;
    justify-content: space-around;
    
}

select,
button,
input{
    border: 2px solid #c0c0c0c4;
    background-color: rgba(43, 166, 154, 0.121);
    color: #004E98;
    text-transform: uppercase;
    border-radius: 6px;
    text-align: center;
}

input{
    height: 50px;
    width: 50%;
}

select{
 width: 25%;
}

#fRow > div >  button{
    width: 15%;
}

#sRow >  button{
    width: 15%;
}

table,
thead,
th,
tr,
td {
    border: 1px solid #004E98;
    border-radius: 3px;
}

tr:nth-child(even){
    background-color: rgba(64, 224, 208, 0.24);
}

thead > tr:hover{
    display: none;
}

tr:hover{
    color: white;
    background-color: #004f987d;
}

#all{
    display: none;
}





